REVIEW_MYSQL_HOST=<Your MySQL host address>
REVIEW_MYSQL_PORT=<Your MySQL host port>
REVIEW_MYSQL_ROOT_PASSWORD=<Your MySQL root password>
REVIEW_MYSQL_DATABASE=<Your MySQL database name>
REVIEW_START_TIME=<Your YYYY-MM-DD start time (e.g. 2025-05-02)>
REVIEW_MACHINE_ID=<Your 0-65535 machine ID>